body {
  background-color: black;
}

body {
  /*background-color:*/
  font-family: 'Barrio', cursive;
  font-size: 20px;
  color: #fff;

}

img {
  /*display: none;*/
}
/* these are text boxes*/

.choice-box {
  font-size: 14px;
  color: black;
  /*border: solid 2px #fff;*/
  /*background: rgb(0, 0, 0, 0.3);*/
  line-height: 35px;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  position: absolute;
  width: 600px;
  height: 300px;
  top: 350px;
  left: 25%;
  margin-left: -50px;
}

.feed-box {
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 2px black;
  width: 300px;
  position: absolute;
  text-align: center;
  top: 20px;
  left: 575px;
}

/* end of that*/

.noshow {
  display: none;
}

#hot-dog-gif {
  width: 100%;
}



/*font-family: 'Barrio', cursive;
font-family: 'IM Fell Double Pica', serif;
font-family: 'Dancing Script', cursive;*/
