/*font-family: 'Barrio', cursive;
font-family: 'IM Fell Double Pica', serif;
font-family: 'Dancing Script', cursive;*/
/*font-family: 'Courgette', cursive;*/


body {
  background-color: black;
  font-family: 'Barrio', cursive;
  font-size: 20px;
  color: #fff;
}

input {
  color: black;
}

.end-results {
  font-family: 'Monoton', cursive;
}

.choice-box {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Homenaje', sans-serif;
  /*text-align: center;*/
  width: 459px;
  height: 160px;
  position: absolute;
  top: 310px;
  left: 25%;
  display: none;
}

.feed-box {

  font-family: 'Homenaje', sans-serif;
  text-shadow: 2px 2px 2px black;
  width: 250px;
  height: 160px;
  position: absolute;
  top: 80px;
  left: 15%;
}

.end-results {
  font-size: 32px;
  font-family: 'Courgette', cursive;
}

.click:hover {
  text-decoration: underline;
}

.noshow {
  display: none;
  text-align: center;
}

#stick-in-it {
  margin: 20px;
  font-size: 18px;
  text-align: center;
}

#logo {
  width: 100%;
}

#hot-dog-gif {
  width: 100%;
  display: none;
}


  #blink {
    font-family: 'Monoton', cursive;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: blink;
    font-size: 2em;
    text-align: center;
}

@keyframes blink {
    0% {
        opacity: 1;
        color:#e53b99;
    }
    25%{
      opacity: 0;
    }
    50%{
      opacity: 1;
      color: #15B82B;
    }
    75% {
        opacity: 0;
    }
    100%{
      opacity:1;
      color: #FFB800;;
    }
}

#restart {
  display: none;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

#restart-btn {
  background-color: #FF40B8;
  font-family: 'Dancing Script', cursive;
}

#form-name {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#start-playing{
  background-color: #FF40B8;
  font-family: 'Dancing Script', cursive;
  font-size: 14px;

}

/*MEDIA QUERIES */

@media screen and (min-width: 994px) {

  #stick-in-it {
    margin: 20px;
    font-size: 20px;
    text-align: center;
  }

  .choice-box {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Homenaje', sans-serif;
    /*text-align: center;*/
    width: 459px;
    height: 160px;
    position: absolute;
    top: 410px;
    left: 30%;
  }
}

@media screen and (min-width: 1200px) {

  #stick-in-it {
    margin: 20px;
    font-size: 20px;
    text-align: center;
  }

  .choice-box {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Homenaje', sans-serif;
    width: 459px;
    height: 190px;
    position: absolute;
    top: 500px;
    left: 35%;
  }
}
