.noshow {
  display: none;
}

<<<<<<< HEAD
body {
  /*background-color:*/
}
=======

/*font-family: 'Barrio', cursive;
font-family: 'IM Fell Double Pica', serif;
font-family: 'Dancing Script', cursive;*/
>>>>>>> 3554277776b022142186e4ef2aa8b31950925316
